.container {
    max-width: 1100px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
}

@media (max-width: map-get($container, lg) + 59) {

    .container{
        max-width: 640px;
    }

}

@media (max-width: map-get($container, sm) + 59) {

    .container{
        max-width: 280px;
    }

}