.suggest{
  display: flex;
  align-items: center;
  position: relative;
  margin-top: 90px;
  &::before{
    content: '';
    position: absolute;
    width: 817px;
    height: 559px;
    background-image: url(assets/images/static/checks.svg);
    right: -120px;
    top: -370px;
    z-index: -1;
  }
}

.suggest__image{
  width: 50%;
  img{
    max-width: 100%;
  }
}

.suggest__text{
  width: 50%;
  margin-left: 50px;
  p{
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    margin-top: 24px;
  }
}

.suggest__title{
  font-weight: 400;
  font-size: 28px;
  line-height: 36px;
}

@media (max-width: map-get($container, lg) + 59) {

  .suggest{
    flex-direction: column;
    margin-top: 120px;
    &::before{
      display: none;
    }
  }
  
  .suggest__image{
    width: 534px;
    order: 2;
    margin-top: 20px;
  }
  
  .suggest__text{
    width: 534px;
    order: 1;
  }

}

@media (max-width: map-get($container, sm) + 59) {

  .suggest{
    margin-top: 66px;
  }
  
  .suggest__image{
    width: 100%;
  }
  
  .suggest__text{
    width: 100%;
    margin-left: 0;
    p{
      margin-top: 12px;
    }
  }

}